.navbar-brand{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #000  !important;
}

.navbar-nav {
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.custom-nav .custom-item  a{
    color: #000 !important;
}

.custom-item:hover{
    /* background-color: #dc3545;
     */
    color: #1488cc;
    font-weight: 600;
    border-radius: 10px;
}

.custom-nav .custom-item  a:hover{
    color: #1488cc;
}

.navbar-toggler-icon{
    color: #000;
}



.remove-mrg{
    margin: 0px;
    padding: 0px;
}

.vid-parent{
    position: relative;
}

video{
    width: 100%;
    height: 100%;
}

.vid-overlayer{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #225470;
    z-index: 1;
    opacity: 0.8;
}
.vid-content{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    position: absolute;
    z-index: 2;
    top: 35%;
    left: 35%;
    text-align: center;
}
.bottom-banner{
    color: #fff;
    padding: 10px;
}

.stripe{
    background-image: linear-gradient(240deg, #ed213a, #93291e);
    padding: 3rem;
    height: 13rem;
    margin-top: 4rem;
    transform: rotate(10deg);
    z-index: -5;
    color: white;
}


/* *********************** Testimonial Section ********************** */
.shadow-effect {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
border:1px solid #ECECEC;
    box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);
}
#customers-testimonials .shadow-effect p {
    font-family: inherit;
    font-size: 17px;
    line-height: 1.5;
    margin: 0 0 17px 0;
    font-weight: 300;
}
.testimonial-name {
    margin: -17px auto 0;
    display: table;
    width: auto;
    background: #3190E7;
    padding: 9px 35px;
    border-radius: 12px;
    text-align: center;
    color: #fff;
    box-shadow: 0 9px 18px rgba(0,0,0,0.12), 0 5px 7px rgba(0,0,0,0.05);
}
#customers-testimonials .item {
    text-align: center;
    padding: 50px;
    margin-bottom:80px;
    opacity: .2;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#customers-testimonials .owl-item.active.center .item {
    opacity: 1;
    -webkit-transform: scale3d(1.0, 1.0, 1);
    transform: scale3d(1.0, 1.0, 1);
}
.owl-carousel .owl-item img {
    transform-style: preserve-3d;
    max-width: 90px;
    margin: 0 auto 17px;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
    background: #3190E7;
    transform: translate3d(0px, -50%, 0px) scale(0.7);
}
#customers-testimonials.owl-carousel .owl-dots{
display: inline-block;
width: 100%;
text-align: center;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot{
display: inline-block;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
    background: #3190E7;
    display: inline-block;
    height: 20px;
    margin: 0 2px 5px;
    transform: translate3d(0px, -50%, 0px) scale(0.3);
    transform-origin: 50% 50% 0;
    transition: all 250ms ease-out 0s;
    width: 20px;
}

#particle-js{
    background: #1488cc;
    background: -webkit-linear-gradient(to right, #2b32b2, #1488cc);
    background: linear-gradient(to right, #2b32b2, #1488cc);
    display: flex;
    vertical-align: bottom;
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#particle-js .particle-js-canvas-el{
        width: 100%;
        height: 100%;
}

.header{
    z-index: 1;
    text-align: center;
    color: #fff;
    position: absolute;
    font-family: 'poppins', sans-serif;
    width: 80%;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.header .site-title{
    font-size: 35px;
    display: block;
    line-height: 1;
    color: #fff;
}


@media only screen and (min-width: 550px){
    .header .site-title{
        margin: 0;
        font-size: 72px;
    }
}

.header .site-description{
    font-size: 20px;
    display: block;
    line-height: 1;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 40px;
}

@media only screen and (min-width: 550px){
    .header .site-description{
       
        font-size: 35px;
    }
}


.header-links {
    margin: 10px;
    
}

.header-links .link{
    color:  #fff;
    text-decoration: none;
    font-size: 15px;
    margin: 5px;
    border: 2px solid #fff;
    
    padding: 10px 25px 10px 25px;
    border-radius: 50px;
    
}



@media only screen and (min-width: 550px){
    .header-links .link{       
        font-size: 20px;
    }
}





.header-icons{
    display: flex;
    justify-content: center;
    text-align: center;
}

.down,
.header-icons .icon{
    color: #fff;
    text-align: center;
}

.header-icons .icon{
    /* height: 20px;
    padding: 10px;
    border-radius: 50%;
    border: 2px solid #fff;
    transition: all 0.7s;
    width: 20px;
    font-size: 10px;
    margin: 5px; */
    padding: 5px;
    border-radius: 50%;
    border: 2px solid #fff;
    transition: all 0.7s;
    width: 20px;
    font-size: 20px !important;
    margin: 3px;
}

.header-icons .icon:active,
.header-icons .icon:hover{
    color: #1488cc;
    background: #fff;
}

@media only screen and (min-width: 550px){
    .header-icons .icon{
        width: 35px;
        height: 35px;
        font-size: 35px;
    }
}





@media screen and (min-width: 0px) and (max-width:700px){
    .my-content, 
    .txt-banner,
    .stripe{
        display: none;
    }

    .vid-content{
        top: 12%;
        left: 60%;
    }

    .custom-nav .custom-item a{
        padding: 10px 20px;
        /* background-color: #46090e; */
    }

    .custom-item:hover{
        background-color: none;
        border: none;
        border-radius: none;
    }

    .header-links .link{       
        font-size: 20px;
        display: block;
    }

    .header-icons .icon{
        width: 35px;
        height: 35px;
        font-size: 35px;
    }

    .header .site-description{
       
        font-size: 18px;
    }

    .header .site-title{
        margin: 0;
        font-size: 35px;
    }
}

